body{
    background-color: lightgray;
    font-family:monospace;
    font-size: 1.2em;
}

.mainFrame{
    width:70vh;
    height:70vh;
    margin: auto auto;
}
.Block{
    width:20vh;
    height:20vh;
    background-color: #7D41EB;
    margin : 1vh;
    float : left;
}
.footer{
    height: 5vh;
    background-color:darkcyan;
    width: 100%;
    text-align: center;

}
.fBox{
    color:whitesmoke;
    float:left;
    padding: 0.5em;
    width: 30vw;
}
#replay{
    background-color:crimson;
    color:whitesmoke;
    float: right;
    height:100%;
    width:30vw;
}
.Block:active,#replay:active{
    box-shadow: 0px 0px 0 0;
}
.Block,#replay{
    box-shadow: 0px 0px 30px 0px #575653;
}
